{% extends 'master.html' %}
{% load static %}
{% block mycontent %}
	
	<!--Page Title-->
    <section class="page-title" style="background-image:url(static/User/images/background/11.jpg)">
    	<div class="auto-container">
			<div class="clearfix">
				<div class="pull-left">
					<h2>Psycho Training</h2>
					<div class="text">Fitness is not a destination it is a way of life.</div>
				</div>
				<div class="pull-right">
					<ul class="page-breadcrumb">
						<li><a href="/">home</a></li>
						<li>Psycho Training</li>
					</ul>
				</div>
			</div>
        </div>
    </section>
    <!--End Page Title-->
	
	<!--Sidebar Page Container-->
    <div class="sidebar-page-container grey-bg">
    	<div class="auto-container">
        	<div class="row clearfix">
				
				<!-- Sidebar Side -->
                <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                	<aside class="sidebar padding-right">
						
						<!-- Services -->
                        <div class="sidebar-widget">
                            <ul class="service-list">
                                <li class="current"><a href="classes-detail.html">All Classess</a></li>
                                <li><a href="classes-detail.html">Psycho Training</a></li>
                                <li><a href="classes-detail.html">Self Defence</a></li>
                                <li><a href="classes-detail.html">Fitness For Man</a></li>
                                <li><a href="classes-detail.html">Strength Training</a></li>
                                <li><a href="classes-detail.html">Cardio For Man</a></li>
								<li><a href="classes-detail.html">Advance GYM</a></li>
                            </ul>
                        </div>
						
						<!-- Brochure -->
						<div class="sidebar-widget brochure-widget">
							<div class="brochure-box">
								<div class="inner">
									<span class="icon flaticon-pdf"></span>
									<div class="text">Download. PDF</div>
								</div>
								<a href="#" class="overlay-link"></a>
							</div>
							
							<div class="brochure-box">
								<div class="inner">
									<span class="icon flaticon-powerpoint-file"></span>
									<div class="text">Download. TXT</div>
								</div>
								<a href="#" class="overlay-link"></a>
							</div>
							
						</div>
						
						<!-- Help Widget -->
						<div class="sidebar-widget help-widget">
							<div class="widget-content">
								<div class="inner-box">
									<div class="image">
										<img src="{% static 'User/images/resource/classes.jpg' %}" alt="" />
									</div>
									<div class="lower-content">
										<h4>How Can We Help</h4>
										<div class="text">If you need any helps, please feel free to contact us.</div>
										<ul>
											<li><span class="icon fa fa-phone"></span><a href="tel:+1-044-123-456-789">+1 (044) 123 456 789</a></li>
											<li><span class="icon fa fa-envelope"></span><a href="mailto:info@example.com">info@example.com</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						
					</aside>
				</div>
				
				<!-- Content Side -->
                <div class="content-side col-lg-8 col-md-12 col-sm-12">
                	<div class="classes-detail">
						<div class="inner-box">
							<div class="image">
								<img src="{% static 'User/images/resource/classes-detail.jpg' %}" alt="" />
							</div>
							<div class="lower-content">
								<h3>Get Ready For Perfect Fitness Training</h3>
								<p>They also provide insights about the profession’s most colorful personalities and powerful institutions, as well as original commentary on breaking legal developments.The resources managed in logistics can include physical items such as food, materials, animals, equipment, and liquids.</p>
								<div class="row clearfix">
									<div class="column col-lg-6 col-md-6 col-sm-12">
										<ul class="list-style-two">
											<li>Having Slimmer Shapely Thighs</li>
											<li>Increased Muscular Endurance</li>
											<li>Maximum Results in Less Time</li>
										</ul>
									</div>
									<div class="column col-lg-6 col-md-6 col-sm-12">
										<ul class="list-style-two">
											<li>Getting Stronger Body</li>
											<li>Increased Metabolism</li>
											<li>Firm Hips and Tummy</li>
										</ul>
									</div>
								</div>
								<h3>Class Schedule</h3>
								<div class="row clearfix">
								
									<!-- Schedule Column -->
									<div class="schedule-column col-lg-4 col-md-4 col-sm-12">
										<div class="inner-column">
											<h5>Monday</h5>
											<div class="time">8:00 <span>AM</span> - 9:00 <span>AM</span></div>
										</div>
									</div>
									
									<!-- Schedule Column -->
									<div class="schedule-column col-lg-4 col-md-4 col-sm-12">
										<div class="inner-column">
											<h5>Tuesday</h5>
											<div class="time">8:00 <span>AM</span> - 9:00 <span>AM</span></div>
										</div>
									</div>
									
									<!-- Schedule Column -->
									<div class="schedule-column col-lg-4 col-md-4 col-sm-12">
										<div class="inner-column">
											<h5>Wednesday</h5>
											<div class="time">8:00 <span>AM</span> - 9:00 <span>AM</span></div>
										</div>
									</div>
									
									<!-- Schedule Column -->
									<div class="schedule-column col-lg-4 col-md-4 col-sm-12">
										<div class="inner-column">
											<h5>Thursday</h5>
											<div class="time">8:00 <span>AM</span> - 9:00 <span>AM</span></div>
										</div>
									</div>
									
									<!-- Schedule Column -->
									<div class="schedule-column col-lg-4 col-md-4 col-sm-12">
										<div class="inner-column">
											<h5>Friday</h5>
											<div class="time">8:00 <span>AM</span> - 9:00 <span>AM</span></div>
										</div>
									</div>
									
									<!-- Schedule Column -->
									<div class="schedule-column col-lg-4 col-md-4 col-sm-12">
										<div class="inner-column">
											<h5>Saturday</h5>
											<div class="time">8:00 <span>AM</span> - 9:00 <span>AM</span></div>
										</div>
									</div>
									
								</div>
								
								<h3>Benefits</h3>
								<p>Our Trading helps clients run and transform their front, middle and back-office trading operations. We provide buy-side, sell-side and market infrastructure firms with a full-service offering.</p>
								
								<div class="row clearfix">
									<div class="column col-lg-6 col-md-6 col-sm-12">
										<ul class="list-style-two">
											<li>It’s Help your body balance</li>
											<li>Improve your workflow</li>
											<li>Build your body with a good shape</li>
											<li>Awesome membership plan</li>
										</ul>
									</div>
									<div class="column col-lg-6 col-md-6 col-sm-12">
										<ul class="list-style-two">
											<li>Daily Work Freshness</li>
											<li>Reduce Mental Stress</li>
											<li>Daily Fitness Training</li>
											<li>Balance your body</li>
										</ul>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
{% endblock %}	
	