{% extends 'master3.html' %}
{% load static %}

{% block mycontent %}
<!DOCTYPE html>
<html>
<body>

	<title>FAQ</title>
	<!--Page Title-->
    <section class="page-title" style="background-image:url(static/User/images/background/51.jpg)">
    	<div class="auto-container">
			<div class="clearfix">
				<div class="pull-left">
					<h2>Frequently Ask Question</h2>
					<div class="text">Fitness is not a destination it is a way of life.</div>
				</div>
				<div class="pull-right">
					<ul class="page-breadcrumb">
						<li><a href="/">home</a></li>
						<li>Faq's</li>
					</ul>
				</div>
			</div>
        </div>
    </section>
    <!--End Page Title-->
	
	<!-- Faq Page Section -->
	<section class="faq-page-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title">
				<div class="title">Starting at the Gym: An FAQ Guide for Beginners</div>
				<h2>FREQUENTLY ASKED QUESTIONS</h2>
			</div>
			
			<!-- Accordian Box -->
			<ul class="accordion-box">

				<!--Block-->
				<li class="accordion block">
					<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>How to raise over all fitness level?</div>
					<div class="acc-content">
						<div class="content">
							<div class="text">Now were up in the big leagues getting’ our turn at bat. And when the odds are against him and their dangers work to do. Duis aute irure dolor.</div>
						</div>
					</div>
				</li>

				<!--Block-->
				<li class="accordion block">
					<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>How can we get natural way to health?</div>
					<div class="acc-content">
						<div class="content">
							<div class="text">Now were up in the big leagues getting’ our turn at bat. And when the odds are against him and their dangers work to do. Duis aute irure dolor.</div>
						</div>
					</div>
				</li>
				
				<!--Block-->
				<li class="accordion block">
					<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>What if i am do for body strength?</div>
					<div class="acc-content">
						<div class="content">
							<div class="text">Now were up in the big leagues getting’ our turn at bat. And when the odds are against him and their dangers work to do. Duis aute irure dolor.</div>
						</div>
					</div>
				</li>
				
				<!--Block-->
				<li class="accordion block">
					<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Can I get a special trainer for bodybuilding?</div>
					<div class="acc-content">
						<div class="content">
							<div class="text">Now were up in the big leagues getting’ our turn at bat. And when the odds are against him and their dangers work to do. Duis aute irure dolor.</div>
						</div>
					</div>
				</li>
				
				<!--Block-->
				<li class="accordion block">
					<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>When an i charged for the service?</div>
					<div class="acc-content">
						<div class="content">
							<div class="text">Now were up in the big leagues getting’ our turn at bat. And when the odds are against him and their dangers work to do. Duis aute irure dolor.</div>
						</div>
					</div>
				</li>
				
			</ul>
			
		</div>
		
		
		
	</section>
	<!-- End Faq Page Section -->
	
	
</body>

<!-- Mirrored from expert-themes.com/html/gym/faq.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 30 Jan 2021 02:50:17 GMT -->
</html>
{% endblock %}