{% extends 'master3.html' %}
{% load static %}

{% block mycontent %}
<title>Thanks for placing order</title>

<style>
 table,tr,td{
     border: solid;
     border-color: black;
     background-color:rgb(240, 221, 206);
     color:black
 }
</style>
<!--Register Section-->
<section class="page-title" style="background-image:url(static/User/images/background/51.jpg)">
    <div class="auto-container">
        <div class="clearfix">
            <div class="pull-left">
                <h2>Thanks</h2>
                <div class="text">Fitness is not a destination it is a way of life.</div>
            </div>
            <div class="pull-right">
                <ul class="page-breadcrumb">
                    <li><a href="/">home</a></li>
                    <li>Thanks</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<br>
<div>
    <center>
     
</center>
</div>

<section class="register-section">
    <div class="auto-container">
        <div class="row clearfix">

            
                
         
            
            <!--Form Column-->
            
            <!--Form Column-->
            <div class="form-column column col-lg-12 col-md-12 col-sm-12">
            
                <div class="sec-title">
                     
                    <div class="separate"></div>
                </div>
                
                <!--Login Form-->
                <div class="styled-form register-form">
                   
                   <h1>Thank you your order has placed !</h1>
                   <a href="/vieworder">View Order</a>
                </div>
                
            </div>
            
        </div>
    </div>

</section>
<!--End Register Section-->

{% endblock %}