{% extends 'master3.html' %}
{% block mycontent %}

<html>
    <title>My Workout</title>
    <!--Page Title-->
    <section class="page-title" style="background-image:url(static/User/images/background/51.jpg)">
    	<div class="auto-container">
			<div class="clearfix">
				<div class="pull-left">
					<h2>My Workout</h2>
					<div class="text">Fitness is not a destination it is a way of life.</div>
				</div>
				<div class="pull-right">
					<ul class="page-breadcrumb">
						<li><a href="/">home</a></li>
						<li>My Workout</li>
					</ul>
				</div>
			</div>
        </div>
    </section>
    <!--End Page Title-->
    <style>
    tr,td,th{
        padding: 10px;
        border-style:solid;
        font-size: medium;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border-color: black;
        color: black;
    }
    th {
        background-image: url(static/User/images/background/7.jpg);
    }
    td{
        background-image: url(static/User/images/background/pattern-5.png);
    }    
</style>

<br>
<br>
<center>

    <table>
    <tr>
        <td style="background-image: url(static/User/images/background/7.jpg);font-family: 'Lucida Sans';font-size:xx-large;">
         <div class="icon-box">
            <span class="icon flaticon-plan"><b>Diet Chart</b></span>
        </div>
        </td>
        <td style="background-image: url(static/User/images/background/7.jpg);font-family: 'Lucida Sans';font-size:xx-large;">
            <div class="icon-box">

                <span class="icon flaticon-tools-and-utensils"><b>Workout Schedule</b></span>

            </div></td>
        <td style="background-image: url(static/User/images/background/7.jpg);font-family: 'Lucida Sans';font-size:xx-large;"><span class="fa fa-play"></span><b> Workout Videos</b></td></span></td>
        <td style="background-image: url(static/User/images/background/7.jpg);font-family: 'Lucida Sans';font-size:xx-large;">
            <div class="icon-box">
                <span class="icon flaticon-tools-and-utensils-1"><b> Reward Points</b></span>
            </div></td>
    </tr>
    {% for i in mydata %}
    <tr>
        <td>
            <div class="brochure-box">
				<div class="inner">
					<span class="icon flaticon-pdf"></span>
					<div class="text">Download. PDF</div>
				</div>
				<a href="/static/upload/{{i.2}}"/ class="overlay-link"></a>
			</div>
        </td>
        <td>
            <div class="brochure-box">
				<div class="inner">
					<span class="icon flaticon-pdf"></span>
					<div class="text">Download. PDF</div>
				</div>
				<a href="/static/upload/{{i.3}}" class="overlay-link"></a>
			</div>
        </td>
        <td>
            <div class="brochure-box">
				<div class="inner">
					<span class="icon flaticon-play-arrow"></span>
					<div class="text">Download. mp4</div>
				</div>
				<a href="/static/upload/{{i.4}}" class="overlay-link"></a>
			</div>
        </td>
        <td style="font-size: xx-large;"><center>{{i.5}}</center></td>
    </tr>
    {% endfor %}
</table>

</center>

<br>
<br>
</html>
{% endblock %}
