{% extends 'base1.html' %}

    {% block mycontent %}
    <div id="page-wrapper">
        <div class="main-page">
            <div class="tables">
                <div class="bs-example widget-shadow" data-example-id="bordered-table"> 
                    <h4>Workout Details:</h4>
                    <table class="table table-bordered"> 
                        <thead> 
                            <tr> 
                                <th>Workout Id</th> 
                                <th>User Id</th>
                                <th>User Name</th>
                                <th>Diet Chart</th>
                                <th>Workout Schedule</th>
                                <th>Workout Videos</th>
                                <th>Reward Points</th>
                                <th>Action</th>
                            </tr> 
                        </thead> 
                        <tbody> 
                            {% for i in mydata %}
                            <tr>   
                                <td>{{i.0}}</td>
                                <td>{{i.1}}</td>
                                <td>{{i.2}}</td>
                                <td><a>{{i.3}}</a></td>
                                <td><a>{{i.4}}</a></td>
                                <td><a>{{i.5}}</a></td>
                                <td>{{i.6}}</td>
                                <td><a href='Workout/edit/{{i.0}}'>Edit</a> | <a href='Workout/delete/{{i.0}}' onclick="return delMsg();">Delete</a></td> 
                            </tr>  
                            {% endfor %}
                        </tbody> 
                        <script type="text/javascript">
                            function delMsg() {
                                if (confirm("Are you sure about deleting record?")) {
                                    alert('1 row deleted.');
                                    return true;
                                }
                                else
                                    return false;
                            }
                        </script>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}