#ignore ALL Unnecessary file

# Ignore IDE/Editor files
.vscode/
.idea/

# Ignore compiled binaries
*.exe
*.out

# Ignore temporary files and logs
*.log
*.tmp

# Ignore dependency unnecessary directories
node_modules/
venv/
env/

# Ignore build directories
dist/
build/

# Ignore specific project directories and files
gymmanage/__init__.py
userside/__pycache__/
userside/migrations/
gymmanage/__pycache__/
trainerapp/__pycache__/
trainerapp/migrations/
.env