{% extends 'master3.html' %}
{% load static %}

{% block mycontent %}
<!DOCTYPE html>

<html>
<body>
	<title>About Us</title>
	<!--Page Title-->

    <section class="page-title" style="background-image:url(static/images/background/51.jpg)">

    	<div class="auto-container">

			<div class="clearfix">

				<div class="pull-left">

					<h2>About Us</h2>

					<div class="text">Fitness is not a destination it is a way of life.</div>

				</div>

				<div class="pull-right">

					<ul class="page-breadcrumb">

						<li><a href="home.html">home</a></li>

						<li>About us</li>

					</ul>

				</div>

			</div>

        </div>

    </section>

    <!--End Page Title-->

	

	<!-- About Section -->

	<section class="about-section style-two">

		<div class="auto-container">

			<div class="row clearfix">

				

				<!-- Content Column -->

				<div class="content-column col-lg-6 col-md-12 col-sm-12">

					<div class="inner-column">

						<!-- Sec Title -->

						<div class="sec-title">

							<div class="title">Fitness All About</div>

							<h2>What is Functional</h2>

						</div>

						<div class="red-text">Kick your feet up! With a gym designed around you, <br> we think you’ll love it here.</div>

						<div class="text">Our state of the art gyms provide you with a great place to work out in, whether you are there to burn off some calories or are training for something more specific. Why not visit your nearest Gym Center and take a look? We’re here to help you!</div>

						<!-- Featured Block -->

						<div class="featured-block">

							<div class="block-inner">

								<span class="icon flaticon-people"></span>

								<strong>Free Fitness Training</strong>

								<div class="feature-text">Train with the best experts in bodybuilding field.</div>

							</div>

						</div>

						

						<!-- Featured Block -->

						<div class="featured-block">

							<div class="block-inner">

								<span class="icon flaticon-stationary-bike"></span>

								<strong>Cardio and Strength</strong>

								<div class="feature-text">Our personal trainers will help you find a perfect workout.</div>

							</div>

						</div>

						

					</div>

				</div>

				

				<!-- Image Column -->

				<div class="image-column col-lg-6 col-md-12 col-sm-12">

					<div class="inner-column wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">


						<div class="image">

							<img src="{% static 'images/resource/1.jpg' %}" alt="" />

						</div>

					</div>

				</div>

				

			</div>

		</div>

	</section>

	<!-- End About Section -->

	

	<!-- Services Section Two -->

	<section class="services-section-two">

		<div class="image-layer" style="background-image:url(static/images/background/8.jpg)"></div>

		<div class="auto-container">

			

			<div class="row clearfix">

				

				<!-- Service Block -->

				<div class="service-block-two col-lg-4 col-md-6 col-sm-12">

					<div class="inner-box">

						<div class="icon-box">

							<span class="icon flaticon-barbell"></span>

						</div>

						<span class="number">01</span>

						<div class="title">Friendly Atmosphere</div>

						<h4><a href="classes-detail.html">CARDIO PROGRAM</a></h4>

						

					</div>

				</div>

				

				<!-- Service Block -->

				<div class="service-block-two col-lg-4 col-md-6 col-sm-12">

					<div class="inner-box">

						<div class="icon-box">

							<span class="icon flaticon-barbell"></span>

						</div>

						<span class="number">02</span>

						<div class="title">Friendly Atmosphere</div>

						<h4><a href="classes-detail.html">PURE STRENGTH</a></h4>

						

					</div>

				</div>

				

				<!-- Service Block -->

				<div class="service-block-two col-lg-4 col-md-6 col-sm-12">

					<div class="inner-box">

						<div class="icon-box">

							<span class="icon flaticon-barbell"></span>

						</div>

						<span class="number">03</span>

						<div class="title">Friendly Atmosphere</div>

						<h4><a href="classes-detail.html">POWER YOGA</a></h4>

						

					</div>

				</div>

				

			</div>

			

		</div>

	</section>

	<!-- End Services Section Two -->

	

	
	

	<!-- Benefits Section -->

	<section class="benefits-section">

		

		<div class="auto-container">

			<div class="row clearfix">

				

				<!-- Content Column -->

				<div class="content-column col-lg-6 col-md-12 col-sm-12">

					<div class="inner-column">

						<!-- Sec Title -->

						<div class="sec-title">
                            <br><br><br><br><br><br><br>
							<div class="title">OUR BENEFITS</div>

							<h2>EVERYTHING IS <br> POSSIBLE WITH US</h2>

						</div>

						

						<!-- Benefit Block -->

						<div class="benefit-block">

							<div class="block-inner">

								<span class="icon flaticon-dumbbell"></span>

								<strong>40 Courses a Week</strong>

								<div class="feature-text">Everyday our entire team works to deliver you our skills, knowledge and passion</div>

							</div>

						</div>

						

						<!-- Benefit Block -->

						<div class="benefit-block">

							<div class="block-inner">

								<span class="icon flaticon-fitness-2"></span>

								<strong>35+ Professional Trainers</strong>

								<div class="feature-text">Everyday our entire team works to deliver you our skills, knowledge and passion</div>

							</div>

						</div>

						

						<!-- Benefit Block -->

						<div class="benefit-block">

							<div class="block-inner">

								<span class="icon flaticon-man"></span>

								<strong>Effective Group Training</strong>

								<div class="feature-text">Everyday our entire team works to deliver you our skills, knowledge and passion</div>

							</div>

						</div>

						

					</div>

				</div>

				

				<!-- Images Column -->

				<div class="images-column col-lg-6 col-md-12 col-sm-12">

					<div class="pattern-layer" style="background-image:url(static/images/background/pattern-5.png)"></div>

					<div class="pattern-layer-two" style="background-image:url(static/images/background/pattern-6.png)"></div>

					<div class="inner-column">

						<div class="image">

							<img src="{% static 'images/resource/benefit-1.jpg' %}" alt="" />

						</div>

						<div class="image-one">

							<img src="{% static 'images/resource/benefit-2.jpg' %}" alt="" />

						</div>

						<div class="image-two">

							<img src="{% static 'images/resource/benefit-3.jpg' %}" alt="" />

						</div>

						<div class="image-three">

							<img src="{% static 'images/resource/benefit-4.jpg' %}" alt="" />

						</div>

					</div>

				</div>

				

			</div>

		</div>

	</section>

	<!-- End Benefits Section -->

	

	<!-- Fluid Section -->

	<section class="fluid-section-one">

		<div class="left-side-text">BENEFITS</div>

		<div class="right-side-text">SKILLS</div>

		<div class="bottom-big-text">Facts</div>

		<div class="outer-container">

			<div class="clearfix">

				

				<!-- Left Column -->

				<div class="left-column">

					<div class="pattern-image" style="background-image:url(static/images/background/pattern-7.png)"></div>

					<div class="inner-column">

						<div class="row clearfix">

							

							<!-- Service Block Three -->

							<div class="service-block-three col-lg-6 col-md-6 col-sm-12">

								<div class="inner-box">

									<div class="icon-box">

										<span class="icon flaticon-tools-and-utensils"></span>

									</div>

									<h4><a href="classes-detail.html">Progression</a></h4>

								</div>

							</div>

							

							<!-- Service Block Three -->

							<div class="service-block-three col-lg-6 col-md-6 col-sm-12">

								<div class="inner-box">

									<div class="icon-box">

										<span class="icon flaticon-plan"></span>

									</div>

									<h4><a href="classes-detail.html">Nutrition</a></h4>

								</div>

							</div>

							

							<!-- Service Block Three -->

							<div class="service-block-three col-lg-6 col-md-6 col-sm-12">

								<div class="inner-box">

									<div class="icon-box">

										<span class="icon flaticon-exercise"></span>

									</div>

									<h4><a href="classes-detail.html">Confidence</a></h4>

								</div>

							</div>

							

							<!-- Service Block Three -->

							<div class="service-block-three col-lg-6 col-md-6 col-sm-12">

								<div class="inner-box">

									<div class="icon-box">

										<span class="icon flaticon-sports"></span>

									</div>

									<h4><a href="classes-detail.html">Workout</a></h4>

								</div>

							</div>

							

						</div>

					</div>

				</div>

				

				<!-- Right Column -->

				<div class="right-column">

					<div class="inner-column">

						<div class="image-layer" style="background-image:url(static/images/background/9.jpg)"></div>

						<!-- Sec Title -->

						<div class="sec-title light">

							<div class="title">Let See Now</div>

							<h2>CHECK OUR SKILLS</h2>

						</div>

						<div class="text">We’ve spent over 10 years defining fitness and now we hare reinventing it. we’ve evolved so that you can transform your life.</div>

						

						<!-- Skills -->

						<div class="skills">



							<!-- Skill Item -->

							<div class="skill-item">

								<div class="skill-header clearfix">

									<div class="skill-title">Professionalism</div>

									<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="85">0</span>%</div></div>

								</div>

								<div class="skill-bar">

									<div class="bar-inner"><div class="bar progress-line" data-width="85"></div></div>

								</div>

							</div>



							<!-- Skill Item -->

							<div class="skill-item">

								<div class="skill-header clearfix">

									<div class="skill-title">Dedication</div>

									<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="65">0</span>%</div></div>

								</div>

								<div class="skill-bar">

									<div class="bar-inner"><div class="bar progress-line" data-width="65"></div></div>

								</div>

							</div>



							<!-- Skill Item -->

							<div class="skill-item">

								<div class="skill-header clearfix">

									<div class="skill-title">Challenging</div>

									<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="50">0</span>%</div></div>

								</div>

								<div class="skill-bar">

									<div class="bar-inner"><div class="bar progress-line" data-width="50"></div></div>

								</div>

							</div>

							

							<!-- Skill Item -->

							<div class="skill-item">

								<div class="skill-header clearfix">

									<div class="skill-title">Perseverance</div>

									<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="75">0</span>%</div></div>

								</div>

								<div class="skill-bar">

									<div class="bar-inner"><div class="bar progress-line" data-width="75"></div></div>

								</div>

							</div>



						</div>

						

					</div>

				</div>

				

			</div>

		</div>

	</section>

	<!-- End Fluid Section -->

	

	<!-- Counter Section Two -->

	<section class="counter-section-two">

		<div class="color-layer"></div>

		<div class="auto-container">

			<!-- Fact Counter -->

			<div class="fact-counter-two">

				<div class="row clearfix">



					<!-- Column -->

					<div class="column counter-column col-lg-3 col-md-6 col-sm-12">

						<div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">

							<div class="content">

								<div class="icon flaticon-muscle"></div>

								<div class="count-outer count-box">

									<span class="count-text" data-speed="3500" data-stop="12">0</span>

								</div>

								<div class="counter-title">Expert Trainer</div>

							</div>

						</div>

					</div>



					<!--Column-->

					<div class="column counter-column col-lg-3 col-md-6 col-sm-12">

						<div class="inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">

							<div class="content">

								<div class="icon flaticon-fitness"></div>

								<div class="count-outer count-box alternate">

									<span class="count-text" data-speed="2500" data-stop="150">0</span>

								</div>

								<div class="counter-title">Happy Client</div>

							</div>

						</div>

					</div>



					<!--Column-->


					

					<!--Column-->

					<div class="column counter-column col-lg-3 col-md-6 col-sm-12">

						<div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">

							<div class="content">

								<div class="icon flaticon-fitness-1"></div>

								<div class="count-outer count-box">

									<span class="count-text" data-speed="2000" data-stop="3">0</span>

								</div>

								<div class="counter-title">Experience</div>

							</div>

						</div>

					</div>

				

				</div>

				

			</div>

			

		</div>

	</section>

	<!-- End Counter Section -->

	

	<!-- Choose Section -->

	<section class="choose-section">

		<div class="auto-container">

			<div class="row clearfix">

				

				<!-- Images Column -->

				<div class="images-column col-lg-6 col-md-12 col-sm-12">

					<div class="inner-column">

						<div class="info-box">

							<h3><a href="#">Cardio <br> Training</a></h3>

							<a class="more" href="#">More <span class="arrow fa fa-arrow-circle-right"></span></a>

							<div class="icon flaticon-stationary-bike"></div>

						</div>

						

						<div class="info-box style-two">

							<h3><a href="#">Fitness <br> Training</a></h3>

							<a class="more" href="#">More <span class="arrow fa fa-arrow-circle-right"></span></a>

							<div class="icon flaticon-people"></div>

						</div>

						

						<div class="image">

							<img src="{% static 'images/resource/choose-1.jpg' %}" alt="" />

						</div>

						<div class="image-1">

							<img src="{% static 'images/resource/choose-2.jpg' %}" alt="" />

						</div>

					</div>

				</div>

				

				<!-- Content Column -->

				<div class="content-column col-lg-6 col-md-12 col-sm-12">

					<div class="inner-column">

						<!-- Sec Title -->

						<div class="sec-title">

							<div class="title">Why Choose Us</div>

							<h2>We Raise Your <br> Confidence</h2>

						</div>

						

						<!-- Featured Block -->

						<div class="featured-block">

							<div class="block-inner">

								<span class="icon flaticon-people"></span>

								<strong>Free Fitness Training</strong>

								<div class="feature-text">Train with the best experts in bodybuilding field.</div>

							</div>

						</div>

						

						<!-- Featured Block -->

						<div class="featured-block">

							<div class="block-inner">

								<span class="icon flaticon-stationary-bike"></span>

								<strong>Cardio and Strength</strong>

								<div class="feature-text">Our personal trainers will help you find a perfect workout.</div>

							</div>

						</div>

						

						<!-- Featured Block -->

						<div class="featured-block">

							<div class="block-inner">

								<span class="icon flaticon-premium"></span>

								<strong>No Commitment Memberships</strong>

								<div class="feature-text">Our personal trainers will help you find a perfect workout.</div>

							</div>

						</div>

						

					</div>

				</div>

				

			</div>

		</div>

	</section>

	<!-- End Choose Section -->

	

	

</body>


<!-- Mirrored from expert-themes.com/html/gym/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 30 Jan 2021 02:50:17 GMT -->
</html>
{% endblock %}