{% extends 'master3.html' %}
{% load static %}
{% block mycontent %}
<title>Blog</title>
	<section class="page-title" style="background-image:url(static/images/background/51.jpg)">
    	<div class="auto-container">
			<div class="clearfix">
				<div class="pull-left">
					<h2>Our Blogs</h2>
					<div class="text">Fitness is not a destination it is a way of life.</div>
				</div>
				<div class="pull-right">
					<ul class="page-breadcrumb">
						<li><a href="/">home</a></li>
						<li>Blog</li>
					</ul>
				</div>
			</div>
        </div>
    </section>
    <!--End Page Title-->
	
	<!-- Sidebar Cart Item -->
	<div class="xs-sidebar-group info-group">
		<div class="xs-overlay xs-bg-black"></div>
		<div class="xs-sidebar-widget">
			<div class="sidebar-widget-container">
				<div class="widget-heading">
					<a href="#" class="close-side-widget">
						X
					</a>
				</div>
				<div class="sidebar-textwidget">
					
					
					
				</div>
			</div>
		</div>
	</div>
	<!-- END sidebar widget item -->
	
	<!--Sidebar Page Container-->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Content Side-->
                <div class="content-side col-lg-8 col-md-12 col-sm-12">
                	<!-- Blog Classic -->
                	<div class="blog-classic">
						
						<!-- News Block Three -->
						<div class="news-block-three">
							<div class="inner-box">
								<div class="image">
									<a href="blog-single.html"><img src="{% static 'images/resource/news-7.jpg' %}" alt="" /></a>
								</div>
								<div class="lower-content">
									<ul class="post-meta">
										<li><span class="icon flaticon-folder"></span> GYM</li>
										<li><span class="icon flaticon-user-1"></span> By Jone Ankar</li>
										
										<li><span class="icon flaticon-calendar-1"></span> 01.02.2012</li>
									</ul>
									<h3>AVOID INJURIES AND TRAIN PAIN FREE</h3>
									<div class="text">If you’re truly looking to optimize your health, performance, fitness, physique, and overall physiological function, the goal for any lifter and athlete moving into 2021 should be to avoid injuries and train in a pain free manner. Recent research on pain science and body mechanics suggests that a majority of the musculoskeletal pain, discomfort and injuries we experience is directly related to our body mechanics. Read more about pain science and body mechanism.</div>
								</div>
							</div>
						</div>
						
						<!-- News Block Four -->
						<div class="news-block-four">
							<div class="inner-box" style="background-image:url(static/images/background/pattern-12.png)">
								<h3><a href="blog-single.html">What an Amazing Trainning Class! <br> Excellent Mentor, Great Caew</a></h3>
								<div class="designation">GYM Member <span>Matie Simms Junior</span></div>
							</div>
						</div>
						
						<!-- News Block Three -->
						<div class="news-block-three">
							<div class="inner-box">
								<div class="image">
									<a href="blog-single.html"><img src="{% static 'images/resource/news-8.jpg' %}" alt="" /></a>
								</div>
								<div class="lower-content">
									<ul class="post-meta">
										<li><span class="icon flaticon-folder"></span> GYM</li>
										<li><span class="icon flaticon-user-1"></span> By S.Smith</li>
										
										<li><span class="icon flaticon-calendar-1"></span> 05.05.2013</li>
									</ul>
									<h3>IMPROVE YOUR TECHNIQUE, BODY MECHANICS, AND MUSCLE FUNCTION</h3>
									<div class="text">Improving your body mechanics, eliminating dysfunction, and cleaning up your movement patterns is probably the single most effective training strategy you can have not only for maximizing joint health and injury prevention but also for optimizing your physique, strength, muscularity, and performance. That’s because proper mechanics allow the individual to properly target their muscles and stimulate functional strength and size with each and every repetition rather than using garbage reps which destroy the joints.</div>
								</div>
							</div>
						</div>
						
						<!-- News Block Three -->
						<div class="news-block-three">
							<div class="inner-box">
								<div class="single-item-carousel owl-carousel owl-theme">
									<div class="image">
										<a href="blog-single.html"><img src="{% static 'images/resource/news-9.jpg' %}" alt="" /></a>
									</div>
									<div class="image">
										<a href="blog-single.html"><img src="{% static 'images/resource/news-9.jpg' %}" alt="" /></a>
									</div>
									<div class="image">
										<a href="blog-single.html"><img src="{% static 'images/resource/news-9.jpg' %}" alt="" /></a>
									</div>
								</div>
								<div class="lower-content">
									<ul class="post-meta">
										<li><span class="icon flaticon-folder"></span> GYM</li>
										<li><span class="icon flaticon-user-1"></span> By Jone Ankar</li>
										
										<li><span class="icon flaticon-calendar-1"></span> 01.02.2012</li>
									</ul>
									<h3><a href="blog-single.html">Fitness a Boost with our GYM Challenge</a></h3>
									<div class="text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudanm, totam rem aperiam, eaque ipsa quae ab illo inventore.</div>
									<a class="read-more" href="blog-single.html">Read More</a>
								</div>
							</div>
						</div>
						
						<!-- News Block Three -->
						<div class="news-block-three">
							<div class="inner-box">
								<div class="image">
									<a href="blog-single.html"><img src="{% static 'images/resource/news-10.jpg' %}" alt="" /></a>
									
								</div>
								<div class="lower-content">
									<ul class="post-meta">
										<li><span class="icon flaticon-folder"></span> GYM</li>
										<li><span class="icon flaticon-user-1"></span> By Jone Ankar</li>
										
										<li><span class="icon flaticon-calendar-1"></span> 01.02.2012</li>
									</ul>
									<h3><a href="blog-single.html">How to Modify any Program to Improve Weakness</a></h3>
									<div class="text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudanm, totam rem aperiam, eaque ipsa quae ab illo inventore.</div>
									<a class="read-more" href="blog-single.html">Read More</a>
								</div>
							</div>
						</div>
						
						<!-- Post Share Options -->
						<div class="pagination-outer text-center">
							<div class="styled-pagination text-center">
								<ul class="clearfix">
									<li class="prev"><a href="#"><span class="fa fa-angle-double-left"></span> Prev</a></li>
									<li><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li class="active"><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li class="next"><a href="#">Next <span class="fa fa-angle-double-right"></span></a></li>
								</ul>
							</div>
						</div>
						
                    </div>
                </div>
                
                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                	<aside class="sidebar sticky-top">
						
						<!-- Search -->
						<div class="sidebar-widget search-box">
							<form method="post" action="https://expert-themes.com/html/gym/contact.html">
								<div class="form-group">
									<input type="search" name="search-field" value="" placeholder="Search....." required>
									<button type="submit"><span class="icon fa fa-search"></span></button>
								</div>
							</form>
						</div>					
					</aside>
				</div>
			</div>
		</div>
	</div>
{% endblock %}	
	