{% extends 'master3.html' %}
{% load static %}

{% block mycontent %}
<!--Form Column-->
<title>Change Password</title>
<section class="page-title" style="background-image:url(static/images/background/51.jpg)">
    <div class="auto-container">
        <div class="clearfix">
            <div class="pull-left">
                <h2>Change Password</h2>
                <div class="text">Fitness is not a destination it is a way of life.</div>
            </div>
            <div class="pull-right">
                <ul class="page-breadcrumb">
                    <li><a href="/">home</a></li>
                    <li>Change Password</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="register-section">
    <div class="auto-container">
        <div class="row clearfix">
    
            <div class="form-column column col-lg-6 col-md-12 col-sm-12">
                
    <div class="sec-title">
        <h2 style = "color: black; ">Change Password</h2>
        <div class="separate"></div>
    </div>
    
    <!--Login Form-->
    <div class="styled-form login-form">
        <form method="post" action="#">
            
            <div class="form-group">
                <h5 style = "color: black; " >Old Password: </h5>
                <input type="password" name="old" value="" placeholder="Old Password*" style="border: solid;border-color: black;border-width: thin;" required>
            </div>
            <div class="form-group">
                            
                <h5 style="color:black">New Password:</h5>
                <input type="password" name="userpassword" maxlength="8" minlength="6" id="password" value="" style="border: solid;border-color: black;border-width: thin;" placeholder="Enter Password" required>
            </div>
            <div class="form-group">
                
                <h5 style="color:black">Confirm Password:</h5>
                <input type="password" name="cnfrmpassword" maxlength="8" minlength="6" id="confirm_password" style="border: solid;border-color: black;border-width: thin;" value="" placeholder="Confirm Password" required>
            </div>

            <div class="clearfix">
                <div class="form-group pull-left">
                    <input type="submit" value="Submit" style="color: white;background-color: black;" class="theme-btn btn-style-three">
                </div>
                <div class="form-group submit-text pull-right">
                </div>
            </div>
            <script>
                var password = document.getElementById("password")
              , confirm_password = document.getElementById("confirm_password");
            
            function validatePassword(){
              if(password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Password Don't Match");
              } else {
                confirm_password.setCustomValidity('');
              }
            }
            
            password.onchange = validatePassword;
            confirm_password.onkeyup = validatePassword;
                </script>
            
        </form>
    </div>
    
</div>
</div>
</section>
{% endblock %}
