{% extends 'master3.html' %}
{% load static %}
{% block mycontent %}
<title>Classes</title>
	<!--Page Title-->
    <section class="page-title" style="background-image:url(static/images/background/51.jpg)">
    	<div class="auto-container">
			<div class="clearfix">
				<div class="pull-left">
					<h2>Our Classes</h2>
					<div class="text">Fitness is not a destination it is a way of life.</div>
				</div>
				<div class="pull-right">
					<ul class="page-breadcrumb">
						<li><a href="/">home</a></li>
						<li>Classess</li>
					</ul>
				</div>
			</div>
        </div>
    </section>
    <!--End Page Title-->
	
	<!-- Classess Page Section -->
	<section class="classess-page-section">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Classess Block -->
				<div class="classess-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<a href="classes-detail.html"><img src="{% static 'images/resource/feature-1.jpg' %}" alt="" /></a>
							<div class="icon-box">
								<span class="icon flaticon-tools-and-utensils-1"></span>
							</div>
						</div>
						<div class="lower-content">
							<div class="title">GYM</div>
							<h4><a href="classes-detail.html">Psycho Training</a></h4>
							<div class="text">Winning means you’re willing to go longer, work harder for more.</div>
							<a class="read-more" href="classes-detail.html">Read More</a>
						</div>
					</div>
				</div>
				
				<!-- Classess Block -->
				<div class="classess-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<a href="classes-detail.html"><img src="{% static 'images/resource/feature-2.jpg' %}" alt="" /></a>
							<div class="icon-box">
								<span class="icon flaticon-muscle"></span>
							</div>
						</div>
						<div class="lower-content">
							<div class="title">CARDIO</div>
							<h4><a href="classes-detail.html">Self Defence</a></h4>
							<div class="text">Don’t practice until you get it right practice until can’t wrong</div>
							<a class="read-more" href="classes-detail.html">Read More</a>
						</div>
					</div>
				</div>
				
				<!-- Classess Block -->
				<div class="classess-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<a href="classes-detail.html"><img src="{% static 'images/resource/feature-3.jpg' %}" alt="" /></a>
							<div class="icon-box">
								<span class="icon flaticon-people"></span>
							</div>
						</div>
						<div class="lower-content">
							<div class="title">Fitness</div>
							<h4><a href="classes-detail.html">FITNESS FOR MAN</a></h4>
							<div class="text">Winning means you’re willing to go longer, work harder for more.</div>
							<a class="read-more" href="classes-detail.html">Read More</a>
						</div>
					</div>
				</div>
				
				<!-- Classess Block -->
				<div class="classess-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<a href="classes-detail.html"><img src="{% static 'images/resource/feature-4.jpg' %}" alt="" /></a>
							<div class="icon-box">
								<span class="icon flaticon-fitness"></span>
							</div>
						</div>
						<div class="lower-content">
							<div class="title">STRENGTH</div>
							<h4><a href="classes-detail.html">Strength Training</a></h4>
							<div class="text">Winning means you’re willing to go longer, work harder for more.</div>
							<a class="read-more" href="classes-detail.html">Read More</a>
						</div>
					</div>
				</div>
				
				<!-- Classess Block -->
				<div class="classess-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<a href="classes-detail.html"><img src="{% static 'images/resource/feature-5.jpg' %}" alt="" /></a>
							<div class="icon-box">
								<span class="icon flaticon-machine"></span>
							</div>
						</div>
						<div class="lower-content">
							<div class="title">CARDIO</div>
							<h4><a href="classes-detail.html">Cardio For Man</a></h4>
							<div class="text">Don’t practice until you get it right practice until can’t wrong</div>
							<a class="read-more" href="classes-detail.html">Read More</a>
						</div>
					</div>
				</div>
				
				<!-- Classess Block -->
				<div class="classess-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<a href="classes-detail.html"><img src="{% static 'images/resource/feature-6.jpg' %}" alt="" /></a>
							<div class="icon-box">
								<span class="icon flaticon-gym"></span>
							</div>
						</div>
						<div class="lower-content">
							<div class="title">Nutrition</div>
							<h4><a href="classes-detail.html">Advance GYM</a></h4>
							<div class="text">Winning means you’re willing to go longer, work harder for more.</div>
							<a class="read-more" href="classes-detail.html">Read More</a>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Classess Page Section -->
	
		{% endblock %}
	