{% extends 'master3.html' %}
{% load static %}

{% block mycontent %}
<!DOCTYPE html>
<html>

<body>
	<title>Gym Plans</title>
	<!-- Pricing Section -->
    <section class="pricing-section">
        <div class="image-layer" style="background-image:url(static/images/background/2.jpg)"></div>
        <div class="auto-container">
            <!-- Sec Title -->
            <div class="sec-title light centered">
                
                <br><br><br><br><h2>Gym Plans</h2>
            </div>
            <div class="row clearfix">
            
            <!-- Pricing Block -->
            <div class="pricing-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box" style="background-image:url(static/images/resource/price-1.jpg)">
                    <h4>Basic Plan</h4>
                    <div class="title">Here Goes Some Descripation</div>
                    <div class="price">For 1 Month<span>₹ 1200</span></div>
                    <ul class="price-list">
                        <li>Free Hand</li>
                        <li>Gym Fitness</li>
                        <li>Weight Loss</li>
                        <li>Personal Trainer</li>
                    </ul>
                    <div class="btn-one-outer"><a href="#" class="theme-btn btn-style-one" type="submit"><span class="txt">Select Now</span></a></div>
                </div>
            </div>
            
            <!-- Pricing Block -->
            <div class="pricing-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box" style="background-image:url(static/images/resource/price-2.jpg)">
                    <h4>Standard Plan</h4>
                    <div class="title">Here Goes Some Description</div>
                    <div class="price">For 6 Month<span>₹ 6000</span></div>
                    <ul class="price-list">
                        <li>Free Hand</li>
                        <li>Gym Fitness</li>
                        <li>Weight Loss</li>
                        <li>Personal Trainer</li>
                    </ul>
                    <div class="btn-one-outer"><a href="#" class="theme-btn btn-style-one" type="submit"><span class="txt">Select Now</span></a></div>
                </div>
            </div>
            
            <!-- Pricing Block -->
            <div class="pricing-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box" style="background-image:url(static/images/resource/price-3.jpg)">
                    <h4>Ultimate Plan</h4>
                    <div class="title">Here Goes Some Descripation</div>
                    <div class="price">For 1 Year<span>₹ 10000</span></div>
                    <ul class="price-list">
                        <li>Free Hand</li>
                        <li>Gym Fitness</li>
                        <li>Weight Loss</li>
                        <li>Personal Trainer</li>
                    </ul>
                    <div class="btn-one-outer"><a href="#" class="theme-btn btn-style-one" type="submit"><span class="txt">Select Now</span></a></div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- End Pricing Section -->

	
</body>

<!-- Mirrored from expert-themes.com/html/gym/price.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 30 Jan 2021 02:50:17 GMT -->
</html>

{% endblock %}