{% extends 'master3.html' %}
{% load static %}
{% block mycontent %}

<!DOCTYPE html>
<title>Our Team</title>
	<!--Page Title-->
    <section class="page-title" style="background-image:url(static/images/background/51.jpg)">
    	<div class="auto-container">
			<div class="clearfix">
				<div class="pull-left">
					<h2>Our Trainers</h2>
					<div class="text">Fitness is not a destination it is a way of life.</div>
				</div>
				<div class="pull-right">
					<ul class="page-breadcrumb">
						<li><a href="/">home</a></li>
						<li>Trainers</li>
					</ul>
				</div>
			</div>
        </div>
    </section>
    <!--End Page Title-->
	
	<!-- Team Page Section -->
	<section class="team-page-section">
		<div class="auto-container">
			<!-- Sec Title -->
			
			<div class="row clearfix">
				
				<!-- Team Block -->
				<div class="team-block col-lg-4 col-md-4 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="#"><img src="{% static 'images/resource/team-1.jpg' %}" alt="" /></a>
						</div>
						<div class="content">
							<div class="title">Crossfit Coach</div>
							<a href="team.html" class="name">MATIE JUNIOR</a>
						</div>
						<div class="shared-boxed">
							<div class="shared-inner">
								<span class="share-now fa fa-share-alt"></span>
								<a href="#"><span class="fa fa-facebook"></span></a>
								<a href="#"><span class="fa fa-twitter"></span></a>
								<a href="#"><span class="fa fa-dribbble"></span></a>
								<a href="#"><span class="fa fa-behance"></span></a>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Team Block -->
				<div class="team-block col-lg-4 col-md-4 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="#"><img src="{% static 'images/resource/team-2.jpg' %}" alt="" /></a>
						</div>
						<div class="content">
							<div class="title">Bodybuilding Coach</div>
							<a href="team.html" class="name">Steve Cross</a>
						</div>
						<div class="shared-boxed">
							<div class="shared-inner">
								<span class="share-now fa fa-share-alt"></span>
								<a href="#"><span class="fa fa-facebook"></span></a>
								<a href="#"><span class="fa fa-twitter"></span></a>
								<a href="#"><span class="fa fa-dribbble"></span></a>
								<a href="#"><span class="fa fa-behance"></span></a>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Team Block -->
				<div class="team-block col-lg-4 col-md-4 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="#"><img src="{% static 'images/resource/team-3.jpg' %}" alt="" /></a>
						</div>
						<div class="content">
							<div class="title">Cardio & Conditioning</div>
							<a href="team.html" class="name">MAdona FRON</a>
						</div>
						<div class="shared-boxed">
							<div class="shared-inner">
								<span class="share-now fa fa-share-alt"></span>
								<a href="#"><span class="fa fa-facebook"></span></a>
								<a href="#"><span class="fa fa-twitter"></span></a>
								<a href="#"><span class="fa fa-dribbble"></span></a>
								<a href="#"><span class="fa fa-behance"></span></a>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Team Block -->
				<div class="team-block col-lg-4 col-md-4 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="#"><img src="{% static 'images/resource/team-4.jpg' %}" alt="" /></a>
						</div>
						<div class="content">
							<div class="title">Crossfit Coach</div>
							<a href="team.html" class="name">JUNIFOR Jonas</a>
						</div>
						<div class="shared-boxed">
							<div class="shared-inner">
								<span class="share-now fa fa-share-alt"></span>
								<a href="#"><span class="fa fa-facebook"></span></a>
								<a href="#"><span class="fa fa-twitter"></span></a>
								<a href="#"><span class="fa fa-dribbble"></span></a>
								<a href="#"><span class="fa fa-behance"></span></a>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Team Block -->
				<div class="team-block col-lg-4 col-md-4 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="#"><img src="{% static 'images/resource/team-5.jpg' %}" alt="" /></a>
						</div>
						<div class="content">
							<div class="title">Bodybuilding Coach</div>
							<a href="team.html" class="name">SMITH Cross</a>
						</div>
						<div class="shared-boxed">
							<div class="shared-inner">
								<span class="share-now fa fa-share-alt"></span>
								<a href="#"><span class="fa fa-facebook"></span></a>
								<a href="#"><span class="fa fa-twitter"></span></a>
								<a href="#"><span class="fa fa-dribbble"></span></a>
								<a href="#"><span class="fa fa-behance"></span></a>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Team Block -->
				<div class="team-block col-lg-4 col-md-4 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="#"><img src="{% static 'images/resource/team-6.jpg' %}" alt="" /></a>
						</div>
						<div class="content">
							<div class="title">Cardio & Conditioning</div>
							<a href="team.html" class="name">MONICA JAND</a>
						</div>
						<div class="shared-boxed">
							<div class="shared-inner">
								<span class="share-now fa fa-share-alt"></span>
								<a href="#"><span class="fa fa-facebook"></span></a>
								<a href="#"><span class="fa fa-twitter"></span></a>
								<a href="#"><span class="fa fa-dribbble"></span></a>
								<a href="#"><span class="fa fa-behance"></span></a>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Team Page Section -->
	
	
	
	{% endblock %}